# IDE and editor specific files
.vscode/
*.code-workspace
.idea/
*.iml

# Operating System files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build artifacts
/build/
main.js
styles.css
*.map

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Obsidian vault specific files
data.json

# Hot-reload/version-bump files
versions.json